[user]
	name = Damon Spayde
	email = spayde@hendrix.edu
[core]
	editor = vim
	excludesfile = /Users/spayde/.gitignore_global
[push]
	default = simple
[merge]
        ; ff = false
[alias]
        unstage = reset -q HEAD --
        discard = checkout --
        nevermind = !git reset --hard HEAD && git clean -d -f
        uncommit = reset --mixed HEAD~
        save = commit -m
        resave = commit --amend
        invert = revert
        last = log -1 HEAD --format=format:"%Cred%H"
        summary = status -u -s
        graph = log --graph --branches --remotes --tags  --format=format:'%C(green)%h %C(yellow)%ar %Creset• %<(50,trunc)%s %C(blue)(%cN) %C(red bold)%d' --date-order 
        history = log -10 --format=format:'%C(green)%h %C(yellow)%ar %Creset• %s %C(blue)(%cN) %C(red bold)%d'
        branchout = checkout -b
        tags = tag
        branches = branch -a
        stashes = stash list
        remotes = remote -v
        prestage = diff -w --word-diff=color
        precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
        move = mv
        remove = rm
        unmerged = branch --no-merged
        unstash = stash pop
        what = show -w
        untrack = rm -r --cached
        rewrite = rebase -i
        amend = commit --amend
        back = checkout "-"
        contributors = shortlog -s -n
        filetrail = log --follow -p -w
        mergetrail = log --ancestry-path --merges
        unmerged = diff --name-only --diff-filter=U
        aliases = "!git config -l | grep alias | cut -c 7-"
